<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MonoMicro - monolith</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <button id="menubutton">WRÓĆ</button>
    <button id="decreasingbutton">MALEJĄCO</button>
    <button id="playerscorebutton">POZYCJA GRACZA</button>
    <button id="increasingbutton">ROSNĄCO</button>
    <ul id="scoretable">

    </ul>
</body>
</html>