<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MonoMicro - monolith</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="bulletcolors">
        <h3 class="headers">Kolor pocisku</h3>

        <input type="radio" name="bulletcolors" value="#FFFFFF">
        <span style="color: #FFFFFF;">&#9632;</span>

        <br>

        <input type="radio" name="bulletcolors" value="#8E0000">
        <span style="color: #8e0000;">&#9632;</span>

        <br>

        <input type="radio" name="bulletcolors" value="#00FFAA">
        <span style="color: #00ffaa;">&#9632;</span>

        <br>

        <input type="radio" name="bulletcolors" value="#9000FF">
        <span style="color: #9000ff;">&#9632;</span>

        <br>

        <input type="radio" name="bulletcolors" value="#9BB03B">
        <span style="color: #9bb03b;">&#9632;</span>

        <br>

        <input type="radio" name="bulletcolors" value="#094C7C">
        <span style="color: #094c7c;">&#9632;</span>

        <br>

        <input type="radio" name="bulletcolors" value="#FFB834">
        <span style="color: #ffb834;">&#9632;</span>

        <br>

        <input type="radio" name="bulletcolors" value="#F878F4">
        <span style="color: #f878f4;">&#9632;</span>

        <br>

        <input type="radio" name="bulletcolors" value="#99DDFF">
        <span style="color: #99ddff;">&#9632;</span>

        <br>

        <input type="radio" name="bulletcolors" value="#09FF00">
        <span style="color: #09ff00;">&#9632;</span>
    </div>
    <div id="skincolors">
        <h3 class="headers">Kolor statku</h3>

        <input type="radio" name="skincolors" value="#FFFFFF">
        <span style="color: #FFFFFF;">&#9632;</span>

        <br>

        <input type="radio" name="skincolors" value="#8E0000">
        <span style="color: #8e0000;">&#9632;</span>

        <br>

        <input type="radio" name="skincolors" value="#00FFAA">
        <span style="color: #00ffaa;">&#9632;</span>

        <br>

        <input type="radio" name="skincolors" value="#9000FF">
        <span style="color: #9000ff;">&#9632;</span>

        <br>

        <input type="radio" name="skincolors" value="#9BB03B">
        <span style="color: #9bb03b;">&#9632;</span>

        <br>

        <input type="radio" name="skincolors" value="#094C7C">
        <span style="color: #094c7c;">&#9632;</span>

        <br>

        <input type="radio" name="skincolors" value="#FFB834">
        <span style="color: #ffb834;">&#9632;</span>

        <br>

        <input type="radio" name="skincolors" value="#F878F4">
        <span style="color: #f878f4;">&#9632;</span>

        <br>

        <input type="radio" name="skincolors" value="#99DDFF">
        <span style="color: #99ddff;">&#9632;</span>

        <br>

        <input type="radio" name="skincolors" value="#09FF00">
        <span style="color: #09ff00;">&#9632;</span>

    </div>
    <div id="shootsounds">
        <h3 class="headers">Dźwięk strzelania</h3>

        <input type="radio" name="shootsounds" value="shootsounddefault.wav">
        <audio controls>
            <source src="shootsounddefault.wav" type="audio/wav">
        </audio>

        <br>

        <input type="radio" name="shootsounds" value="daleonfire.wav">
        <audio controls>
            <source src="daleonfire.wav" type="audio/wav">
        </audio>

        <br>

        <input type="radio" name="shootsounds" value="defunct3.wav">
        <audio controls>
            <source src="defunct3.wav" type="audio/wav">
        </audio>

        <br>

        <input type="radio" name="shootsounds" value="metzik.wav">
        <audio controls>
            <source src="metzik.wav" type="audio/wav">
        </audio>

        <br>

        <input type="radio" name="shootsounds" value="pompom.wav">
        <audio controls>
            <source src="pompom.wav" type="audio/wav">
        </audio>

        <br>

        <input type="radio" name="shootsounds" value="sergenious.wav">
        <audio controls>
            <source src="sergenious.wav" type="audio/wav">
        </audio>

        <br>

        <input type="radio" name="shootsounds" value="smoker858.wav">
        <audio controls>
            <source src="smoker858.wav" type="audio/wav">
        </audio>

        <br>

        <input type="radio" name="shootsounds" value="soundslikewillem.wav">
        <audio controls>
            <source src="soundslikewillem.wav" type="audio/wav">
        </audio>

        <br>

        <input type="radio" name="shootsounds" value="steshystesh.wav">
        <audio controls>
            <source src="steshystesh.wav" type="audio/wav">
        </audio>

        <br>

        <input type="radio" name="shootsounds" value="sunnyflower.wav">
        <audio controls>
            <source src="sunnyflower.wav" type="audio/wav">
        </audio>
    </div>
    <div id="deathsounds">
        <h3 class="headers">Dźwięk zniszczenia statku</h3>

        <input type="radio" name="deathsounds" value="deathsounddefault.wav">
        <audio controls>
            <source src="deathsounddefault.wav" type="audio/wav">
        </audio>

        <br>

        <input type="radio" name="deathsounds" value="156031.wav">
        <audio controls>
            <source src="156031.wav" type="audio/wav">
        </audio>

        <br>

        <input type="radio" name="deathsounds" value="derplayer.ogg">
        <audio controls>
            <source src="derplayer.ogg" type="audio/ogg">
        </audio>

        <br>

        <input type="radio" name="deathsounds" value="explosion04.wav">
        <audio controls>
            <source src="explosion04.wav" type="audio/wav">
        </audio>

        <br>

        <input type="radio" name="deathsounds" value="explosion05.wav">
        <audio controls>
            <source src="explosion05.wav" type="audio/wav">
        </audio>

        <br>

        <input type="radio" name="deathsounds" value="explosion07.ogg">
        <audio controls>
            <source src="explosion07.ogg" type="audio/ogg">
        </audio>

        <br>

        <input type="radio" name="deathsounds" value="explosion012.mp3">
        <audio controls>
            <source src="explosion012.mp3" type="audio/mpeg">
        </audio>

        <br>

        <input type="radio" name="deathsounds" value="explosiondouble.wav">
        <audio controls>
            <source src="explosiondouble.wav" type="audio/wav">
        </audio>

        <br>

        <input type="radio" name="deathsounds" value="explosionnear.wav">
        <audio controls>
            <source src="explosionnear.wav" type="audio/wav">
        </audio>

        <br>

        <input type="radio" name="deathsounds" value="largeexplosion2.wav">
        <audio controls>
            <source src="largeexplosion2.wav" type="audio/wav">
        </audio>

    </div>
    <button id="save">ZAPISZ</button>
    <button id="goback">POWRÓT</button>
</body>
</html>